<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonhead">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />

    <!--框架必需start-->
    <link th:href="@{${sysPara.proPath}+'css/import_main.css'}" rel="stylesheet" type="text/css" />
    <link th:href="@{${sysPara.proPath}+'skins/blue/style.css'}" rel="stylesheet" type="text/css" id="theme" themeColor="blue" positionTarget="positionContent"  ie6detect="sample_html/templete/detect.html"/>
    <link th:href="@{${sysPara.proPath}+'main_html/skin/style.css'}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" th:src="@{${sysPara.proPath}+'js/jquery.js'}"></script>
    <script type="text/javascript" th:src="@{${sysPara.proPath}+'js/language/cn.js'}"></script>
    <script type="text/javascript" th:src="@{${sysPara.proPath}+'js/main.js'}"></script>
    <!--框架必需end-->




    <!--引入弹窗组件start-->
    <script type="text/javascript" th:src="@{${sysPara.proPath}+'js/popup/drag.js'}"></script>
    <script type="text/javascript" th:src="@{${sysPara.proPath}+'js/popup/dialog.js'}"></script>
    <!--引入弹窗组件end-->

    <!--引入提示组件start-->
    <script type="text/javascript" th:src="@{${sysPara.proPath}+'js/popup/toast.js'}"></script>
    <script type="text/javascript" th:src="@{${sysPara.proPath}+'js/popup/notice.js'}"></script>
    <!--引入提示组件end-->

    <!--引入小铃铛start-->
    <link rel="stylesheet" type="text/css" th:href="@{${sysPara.proPath}+'skins/blue/msgbox.css'}" />
    <script th:src="@{${sysPara.proPath}+'js/popup/msgbox.js'}" type="text/javascript" charset="utf-8'}"></script>
    <!--引入小铃铛end-->

    <!--引入导航处理start-->
    <script th:src="@{${sysPara.proPath}+'main_html/js/nav.js'}" type="text/javascript" ></script>
    <!--引入导航处理end-->
</head>
<body>
<div	th:fragment="copyright">						&copy;	2018	Created by zxl_lls@foxmail.com		</div>
</body>
</html>
