<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zxl.mapper.StockMapper">
  <resultMap id="BaseResultMap" type="org.zxl.model.Stock">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="quantity" jdbcType="VARCHAR" property="quantity" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, create_date, del_flag, unit, update_date, quantity
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getStockList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_stock
    where del_flag = '0'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_stock
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.zxl.model.Stock">
    insert into t_stock (id, name, create_date, 
      del_flag, unit, update_date, 
      quantity)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{quantity,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.zxl.model.Stock">
    insert into t_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.zxl.model.Stock">
    update t_stock
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zxl.model.Stock">
    update t_stock
    set name = #{name,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      quantity = #{quantity,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>